<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="AWSProfileName" value="adminuser"/>
    <add key="AWSRegion" value="us-east-2" />
    <add key="SnsEndpoint" value="arn:aws:sns:us-west-2:349960403903:MikeEvent"/>
    <add key="SnsEventsTopic" value="MikeEvent"/>
  </appSettings>
</configuration>